/*********** General **********/
* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #eee;
	font-family: Arial;
	color: #444;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 10px;
	font-size: 2em;
	color: #FF404E;
	font-family: "Pacifico";
	text-shadow: 1px 1px 1px #888;
	transition: 2000ms;
	-webkit-transition: 2000ms;
}

p {
	margin-bottom: 25px;
}

a {
	color: #1CA5B8;
}

.date {
	font-weight: bold;
	color: #1CA5B8;
}

/* Website color palette:
Main article background: #fff
Background: #eee
Box/text shadows & borders: #888 & #303030
font: #444

Headings: #FF404E
Links: #1CA5B8
Others: #012D41 & #DAECF3
*/



/*********** Keyframes/Transitions **********/
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	
	to {
		opacity: 1;
	}
}

.fade-in {
	animation: fadeIn 2500ms;
	-webkit-animation: fadeIn 2500ms;
}



/*********** Header & Navigation **********/
.header-main {
	background-color: #fff;
	box-shadow: 1px 1px 5px #888888;
	border-bottom: 1px solid #303030;
}

.header-main::after {
	content: " ";
	clear: both;
	display: block;
	visibility: hidden;
}

.header-container {
	width: 85%;
	margin: 0 auto;
}

.header-logo-img {
	float: left;
	padding: 26px 15px 26px 0;
}

.header-logo-text {
	float: left;
	text-decoration: none;
	font-family: "Pacifico";
	color: #303030;
	font-size: 2.2em;
	padding: 10px 0 10px 0;
	text-shadow: 1px 1px 1px #888;
	transition: 250ms;
	-webkit-transition: 250ms;
}

.header-logo-text:hover {
	color: #1CA5B8;
}

.header-nav {
	float: right;
}

.header-nav ul li {
	display: inline-block;
}

.header-nav ul li a {
	padding: 10px 20px;
	font-size: 1.2em;
	color: #1CA5B8;
	text-decoration: none;
	line-height: 86px;
	transition: 250ms;
	-webkit-transition: 250ms;
}

.header-nav ul li a:hover {
	color: #303030;
	font-size: 1.6em;
}



/*********** Footer **********/
.footer-main {
	width: 85%;
	text-align: center;
	font-size: .85em;
	background-color: #fff;
	margin: 25px auto;
	border-radius: 15px;
	box-shadow: 2px 2px 5px #888888;
	border-bottom: 1px solid #303030;
	overflow: hidden;
}

.footer-main p {
	padding: 5px;
	font-style: italic;
	margin-bottom: 0px;
}

.footer-main a {
	text-decoration: none;
}

.footer-main img {
	margin: 0 12px;
}



/*********** Home **********/
.home-container {
	width: 85%;
	margin: 0 auto 25px auto;
}

#canvas {
	width: 100%;
	display: block;
}

.main-article {
	background-color: #fff;
	margin-bottom: 25px;
	padding: 20px;
	box-shadow: 2px 2px 10px #888;
	border-bottom: 1px solid #303030;
	border-radius: 15px;
}



/*********** About **********/
.about-container {
	width: 85%;
	margin: 25px auto;
}

.main-article::after {
	content: " ";
	clear: both;
	display: block;
	visibility: hidden;
}

#about-myself-img {
	border: 1px solid #888;
	box-shadow: 0px 0px 8px #888;
	border-radius: 15px;
	max-width: 30%;
	margin-right: 20px;
	margin-bottom: 10px;
	float: left;
	background-color: #eee;
	padding: 5px;
}

#about-myself-heading {
	text-align: center;
	font-size: 2.2em;
}

.about-column-container {
	background-color: #fff;
	margin: 0 auto 25px auto;
	padding: 20px;
	box-shadow: 2px 2px 10px #888;
	border-bottom: 1px solid #303030;
	border-radius: 15px;
	text-align: center;
}

.about-column {
	width: 40%;
	display: inline-block;
	padding: 20px;
}

.about-column img {
	max-width: 60%;
	border: 1px solid #888;
	box-shadow: 0px 0px 8px #888;
	border-radius: 15px;
	margin-bottom: 15px;
	background-color: #eee;
	padding: 5px;
}



/*********** Contact **********/
.contact-container {
	width: 85%;
	margin: 25px auto;
}

#contact-heading {
	font-size: 3em;
	text-align: center;
	margin: 0;
	text-shadow: 2px 2px 1px #888;
	transition: 2000ms;
}

#contact-subheading {
	font-size: 1.2em;
	color: #1CA5B8;
	text-align: center;
	margin-bottom: 25px;
	font-style: italic;
}

form {
	max-width: 50%;
	margin: 0 auto;
}

.contact-group {
	margin-bottom: 15px;
}

label {
	display: block;
	margin-bottom: 10px;
	font-size: 1.4em;
	font-family: "Pacifico";
	color: #012D41;
	text-shadow: 1px 1px 1px #888;
}

input {
	width: 95%;
	display: block;
	height: 43px;
	padding: 10px 18px;
	font-size: 1.3em;
	border: 1px solid #cccccc;
	border-radius: 3px;
	box-shadow: 1px 1px 2px #888888;
}

input:focus {
	outline: none;
	border: 2px solid #FF404E;
}

textarea {
	display: block;
	width: 95%;
	height: 125px;
	padding: 10px 18px;
	font-size: 1em;
	font-family: Arial;
	border: 1px solid #cccccc;
	border-radius: 3px;
	box-shadow: 1px 1px 2px #888888;
}

textarea:focus {
	outline: none;
	border: 2px solid #FF404E;
}

button {
	background-color: #FF404E;
	border: 1px solid #303030;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 3px;
	font-weight: bold;
	box-shadow: 1px 1px 2px #888888;
	transition: 250ms;
}

button:hover {
	background-color: #FF1D34;
	font-size: 1em;
}

button:active {
	outline: none;
}

.alert {
	width: 75%;
	padding: 15px;
	margin: 25px auto;
	border: 1px solid #303030;
	box-shadow: 1px 1px 2px #888888;
	border-radius: 3px;
	text-align: center;
}

.alert-error {
	background-color: #FF404E;
	color: #ffffff;
}

.alert-success {
	background-color:#3fb618;
	color:#ffffff;
}

/* Copyright © 2017 Joshua Inman 
All rights reserved. */