@media (max-width: 1440px) {
  /*********** Header/Navigation **********/
  #canvas {
    margin-top: 190px;
  }

  #header-main {
    text-align: center
  }

  #header-drawer {
    float: none;
    display: block;
    margin: 0;
  }

  #header-subheading {
    display: block;
    margin: -10px 0 25px 0;
  }

  #main-nav {
    float: none;
    display: block;
  }

  #main-nav ul {
    margin: 10px 0 30px 0;
  }

  #main-nav ul li a {
    padding: 15px 20px;
    font-size: 1.2em;
    color: #012D41;
    text-decoration: none;
    line-height: normal;
  }
}



@media (max-width: 990px) {  
  /*********** About **********/
  #about-myself-img {
  	max-width: 75%;
    display: block;
  	float: none;
  	margin: 5px auto 15px auto;
  }
  
  .about-column {
  	width: 75%;
  	display: block;
  	padding: 20px;
    margin: 0 auto;
  }
  
  .about-column img {
  	max-width: 100%;
  	margin-bottom: 15px;
  	padding: 5px;
  }
}